# Data Cleaning using Python with Pandas Library

## Step 1: Importing the required libraries.

In [3]:
import pandas as pd
import numpy as np

## Step 2: Getting the data-set from a different source and displaying the data-set.

In [4]:
df = pd.read_csv("../data/heart.csv")
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Step 3: Removing the unused or irrelevant columns

In [5]:
to_drop = ['cp',
           'fbs',
           'restecg',
           'thalach',
           'exang',
           'oldpeak',
           'slope',
           'thal',
           'target',
           'ca']

df.drop(to_drop, inplace=True, axis=1)
df.head(5)

   age  sex  trestbps  chol
0   63    1       145   233
1   37    1       130   250
2   41    0       130   204
3   56    1       120   236
4   57    0       120   354

## Step 4: Renaming the column names as per our convenience.

In [6]:
new_name = {'age': 'Age',
            'sex': 'Sex',
            'trestbps': 'Bps',
            'chol': 'Cholesterol'
            }

df.rename(columns=new_name, inplace=True)
df.head()

   Age  Sex  Bps  Cholesterol
0   63    1  145          233
1   37    1  130          250
2   41    0  130          204
3   56    1  120          236
4   57    0  120          354