# Increase in mean Fortune 500 companies

## 1. Import and verify data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk
import matplotlib.pyplot as plt
import category_encoders as ce
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

sns.set(style='darkgrid')

In [3]:
df = pd.read_csv('/Users/misolori/Projects/notebooks/interactive/NotebookExamples/python/fortune500.csv')
df

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
0,1955,1,General Motors,9823.5,806
1,1955,2,Exxon Mobil,5661.4,584.8
2,1955,3,U.S. Steel,3250.4,195.4
3,1955,4,General Electric,2959.1,212.6
4,1955,5,Esmark,2510.8,19.1
...,...,...,...,...,...
25495,2005,496,Wm. Wrigley Jr.,3648.6,493
25496,2005,497,Peabody Energy,3631.6,175.4
25497,2005,498,Wendy's International,3630.4,57.8
25498,2005,499,Kindred Healthcare,3616.6,70.6
25499,2005,500,Cincinnati Financial,3614.0,584

Let's see the first entries:

In [ ]:
df.head()

And the last few entires:

In [ ]:
df.tail()

In [ ]:
df.columns = ['year', 'rank', 'company', 'revenue', 'profit']

In [ ]:
len(df)

In [ ]:
df.dtypes

In [ ]:
non_nymberic_profits = df.profit.str.contains('[^0-9.-]')
df.loc[non_nymberic_profits].head()

In [ ]:
df.loc[non_nymberic_profits].head()

In [ ]:
set(df.profit[non_nymberic_profits])

In [ ]:
len(df.profit[non_nymberic_profits])

In [ ]:
bin_sizes, _, _ = plt.hist(df.year[non_nymberic_profits], bins=range(1955, 2006))

In [ ]:
df = df.loc[~non_nymberic_profits]
df.profit = df.profit.apply(pd.to_numeric)

In [ ]:
df.dtypes

In [ ]:
group_by_year = df.loc[:, ['year', 'revenue', 'profit']].groupby('year')
avgs = group_by_year.mean()
x = avgs.index
y1 = avgs.profit

def plot(x, y, ax, title, y_label):
    ax.set_title(title)
    ax.set_ylabel(y_label)
    ax.plot(x, y)
    ax.margins(x=0, y=0)

# Revenue

In [ ]:
y2 = avgs.revenue
fig, ax = plt.subplots()
plot(x, y2, ax, 'Fortune 500 revenues', 'Revenue (millions)')

In [ ]:
def plot_with_std(x, y, stds, ax, title, y_label):
    ax.fill_between(x, y - stds, y + stds, alpha=0.2)
    plot(x, y, ax, title, y_label)


fig, (ax1, ax2) = plt.subplots(ncols=2)

title = "Fortune 500 profits"
stds1 = group_by_year.std().profit.values
stds2 = group_by_year.std().revenue.values

plot_with_std(x, y1.values, stds1, ax1, 'profits', 'Profits (millions)')
plot_with_std(x, y2.values, stds2, ax2, 'revenues', 'Revenue (millions)')

fig.set_size_inches(10, 4)
fig.tight_layout()

# Revenue + Profit

In [ ]:
fig, ax = plt.subplots()
plot(x, y1, ax, 'Fortune 500 profits', 'Profits (millions)')

## Profits